.hero {
    margin-bottom: 10px;
}

.input-link {
    margin-left: 10px;
}

.submit-button {
    margin-left: 10px;
}

.resultsbox {
    border-radius: 15px;
    margin: 15px;
    margin-right: 15px;
}

.streamingbox {
    border-color: black;
    border-radius: 15px;
    margin: 15px;
}

.historycolumn {
    border-radius: 15px;
    margin: 15px;
}

/* .transparentimage {
    body {
        background: url("transparent1.png") rgba(0, 0, 0, 0),
                    url("transparent2.png") rgba(0, 0, 0, 0);
      }
} */

body,
html {
    height: 110%;
    background-color: hsl(0, 0%, 7%);
}

/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://p4.wallpaperbetter.com/wallpaper/143/51/723/circle-closeup-depth-of-field-film-reel-wallpaper-preview.jpg");
    margin-bottom: 15px;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#titleSearch {
    font-size: 15px;
    transition-duration: 0.4s;
    background-color: hsl(0, 0%, 21%);
    color: white;
    padding: 10px;
}

#titleSearch:hover {
    background-color: hsl(0, 0%, 29%);
    color: white;
}

.movie-entry {
    margin-top: 5px;
}

.historycolumn {
    background-color: hsl(0, 0%, 7%);
}

.genre {
    text: hsl(0, 0%, 96%);
}